.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.Button {
  background: #f2f2f2;
  border: 0;
  border-radius: 2px;
  padding: 10px 15px;
}

.Button:hover {
  background: #ddd;
}

.Button.Red {
  background-color: red;
}

.Button.Red:hover {
  background-color: salmon;
}
